{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<section class="row">
	<h1>Add a new Batter</h1>
</section>

<section class="row">
		<article class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<section class="form-group row">
					<label for="name">Name:</label>	
					<input type ="text" class="form-control" maxlength="100" name="name">
					<article class="padding-bottom"></article>
				</section>
				<section class="form-group row">
					<label for="BA">Batting Average</label>	
					<input type ="text" class="form-control" maxlength="4" name="BA" placeholder=".300">
					<article class="padding-bottom"></article>
				</section>
				<section class="form-group row">
					<label for="HR">Homeruns</label>	
					<input type ="number" class="form-control" name="HR">
					<article class="padding-bottom"></article>
				</section>
				<section class="form-group row">
					<label for="SB">Stolen Bases</label>	
					<input type ="number" class="form-control" name="SB">
					<article class="padding-bottom"></article>
				</section>
				<section class="form-group row">
					<label for="pos">Position</label>	
					<select class="form-control" name="pos">
				      <option>P</option>
				      <option>C</option>
				      <option>1B</option>
				      <option>2B</option>
				      <option>3B</option>
				      <option>SS</option>
				      <option>RF</option>
				      <option>CF</option>
				      <option>LF</option>
				    </select>
					<article class="padding-bottom"></article>
				</section>
				<button type="submit" class="btn btn-default" id="submit" type="submit">
				<span aria-hidden="true"></span>Create</button>
				</section>
			</form>	
		</article>	
	</section>
{% endblock %}