{% extends "base.html" %}

{% block content %}

{% for blog in blogs %}
	<div class="blog">
		<section class="row">
			<div class="blog-title-main"><a class="anchor" href="/{{blog.key().id()}}">{{ blog.title }}</a></div>
			<div class="blog-date">{{blog.created.strftime("%b %d, %Y")}}</div>
		</section>
		<section class="row">
			<article class="created-by">{{blog.createdby}}</article>
			<!--Display the edit post button only if the current user matches the creator of the blog post -->
			{% if current_user == blog.createdby %}
			<article class="right-align-buttons">
				<form method="post" class="form">
					<input type="submit" value="Edit Post">
					<input type="hidden" name="blog_id" value="{{blog.key().id()}}">
				</form>
			</article>
			{% endif %}
		</section>
		<section class="blog-body">{{ blog.blog }}</section>
	</div>
{% endfor %}
{% endblock %}
