{% extends "base.html" %}

{% block content %}

<section class="row">
	<div class="blog-title">{{ blog.title }}</div>
	{% if numlikes > 1 %}
	<p class="likes">{{numlikes}} people like this post!</p>
	{% elif numlikes == 1 %}
	<p class="likes">1 person likes this post!</p>
	{% endif %}
	<div class="blog-date">{{blog.created.strftime("%b %d, %Y")}}</div>
</section>
<hr>
<section class="blog-body">{{ blog.blog }}</section>

{% if loginStatus == 0 %}
<section class="row">
	<p class="error">{{like_error}}</p>
	<section class="right-align-buttons">
		<form method="post" action="/likepost/{{blog.key().id()}}" class="form like-form">
			<input type="submit" value="Like This Post">
		</form>
	</section>
</section>

<h2>Post a Comment</h2>
<form method="post" class="form">
	<section class="row">
		<label class="comment-username-label">
			{{username}}
		</label>
		<label class="comment-body-label">
			<textarea name="Comment" class="new-comment-body"></textarea>
		</label>
	</section>
	<section class="row">
		<article class="right-align-buttons">
			<input type="submit" value="Post">
		</article>
	</section>
</form>
<p class="error">{{error}}</p>
<hr>

<h2>Comments</h2>
{% endif %}

{% for comment in comments %}
	<section class="row">
		<article class="date-of-comment">{{ comment.date_of_comment.strftime("%b %d, %Y") }}</article>
	</section>
	<section class="row">
		<article class="comment-username">{{ comment.username }} says:</article>
		<article class="comment-body">{{ comment.comment_field }}</article>
		{% if comment.username == username %}
			<form method="post" action="/deletecomment/{{comment.key().id()}}" class="comment-form form">
				<input type="submit" value="delete">
			</form>
			<form action="/editcomment/{{comment.key().id()}}" class="comment-form form">
				<input type="submit" value="Edit">
			</form>
		{% endif %}
	</section>
{% endfor %}
{% endblock %}