{% extends "base.html" %}

{% block content %}

{% set count = 1 %}

{% for blog in blogs %}
	<div class="blog">
		<section class="row">
			<div class="blog-title"><a class="anchor" href="/{{blog.key().id()}}">{{ blog.title }}</a></div>
				<!-- Credit to LikeBtn.com for help with the design of the Like Button. LikeBtn.com BEGIN -->
			{% if blog.createdby != current_user %}
				<span class="likebtn-wrapper" data-theme="lightgray" data-white_label="true" data-rich_snippet="true" data-identifier="item_{{count}}" data-popup_disabled="true"></span>
				<!-- LikeBtn.com END -->
			{% endif %}
			{% set count = count + 1 %}
			<div class="blog-date">{{blog.created.strftime("%b %d, %Y")}}</div>
		</section>
		<section class="row">
			<article class="created-by">{{blog.createdby}}</article>
			<!--Display the edit post button only if the current user matches the creator of the blog post -->
			{% if current_user == blog.createdby %}
			<article class="right-align-buttons">
				<form method="post" class="form">
					<input type="submit" value="Edit Post">
					<input type="hidden" name="blog_id" value="{{blog.key().id()}}">
				</form>
			</article>
			{% endif %}
		</section>
		<section class="blog-body">{{ blog.blog }}</section>
	</div>
{% endfor %}
<script>
(function(d,e,s) {
	if(d.getElementById("likebtn_wjs"))return;
		a=d.createElement(e);
		m=d.getElementsByTagName(e)[0];a.async=1;a.id="likebtn_wjs";
		a.src=s;m.parentNode.insertBefore(a, m)})(document,"script","//w.likebtn.com/js/w/widget.js");
</script>
{% endblock %}
